# 1 - Basics
This notebook covers the following topics:
* Printing Output
* Logical and Comparison Comparators
* Arithmetic Operators
* Data Types
* Loops and Conditions
* Further Useful Functions

## Printing Output
Let's start with the typical 'Hello World' example...

In [2]:
# The most simple possibility to print output: a string within the print() function
print('Hello World!')

Hello World!

In [2]:
# One step further: 2 strings within the print() function, separated by a comma
print('Hello', 'World')

Hello World

In [3]:
# Store the string in a variable
text = 'Hello World'

# Another step further: a variable, storing a string, within the print(function)
print(text)

Hello World

In [4]:
# You can also only print particular characters of the string
print(text[0])
print(text[1])
print(text[2])

H
e
l

In [5]:
text_hello = 'Hello'
text_world = 'World'

# It is also possible to combine strings by using the plus sign
print(text_hello + ' ' + text_world)

Hello World

In [6]:
x = 42

# For sure, it's also possible to print floating point numbers / integers
print(x)

42

In [7]:
# Let's try to combine a string and an integer
print('FortyTwo' + x)

TypeError: must be str, not int

In [8]:
# If we want to combine different data types, we have to convert
print('FortyTwo' + str(x))

FortyTwo42

In [9]:
# Advanced string formatting
pi = 3.141592653589793

# Fill in a variable into a string
print('Pi equals {}!'.format(pi))

# Fill in the variable in a specific format 
# :[number digits before decimal point].[number of digits after decimal point][data type]
print('Pi equals {:1.3f}!'.format(pi))

# Fill in multiple variables
print('{} is larger than {}'.format(42, 24))

Pi equals 3.141592653589793!
Pi equals 3.142!
42 is larger than 24

## Logical and Comparison Operators

In [10]:
True or False

True

In [11]:
True and False

False

In [12]:
# Instead of 'or', you can also use '|'
True | True

True

In [13]:
# Instead of 'and', you can also use '&'
True & True

True

In [14]:
# negate
not True

False

In [15]:
7 < 7

False

In [16]:
7 <= 7

True

In [17]:
7 == 7

True

In [18]:
7 is 7

True

In [19]:
a = 7
a is 7

True

In [20]:
# Careful
a = 7.1
a is 7.1

False

In [21]:
7 != 7

False

In [22]:
'Hello' == 'Hello'

True

## Arithmetic Operators

In [23]:
# Potentiate
4**2

16

In [24]:
# Division
42 / 5

8.4

In [25]:
# Whole number division
42 // 5

8

In [26]:
# Remmainder of whole number division (Modulo)
42 % 5

2

## Data Types
As we have just learned in the printing section, there are different types of variables. You can find out the type of an object by the type() function.

In [27]:
# String
s = 'Hello'
type(s)

str

In [28]:
# Integer
i = 42
type(i)

int

In [29]:
# Float
f = 3.141592653589793
type(f)

float

In [30]:
# Boolean
b = True
type(b)

bool

In [31]:
# No type
n = None
type(n)

NoneType

In [32]:
# Lists (in this example it is a list of integers)
l = [1,2,3,4,5]
type(l)

list

## Lists
List of entries of same data type. They are mutable.

In [33]:
# List of strings and numbers are possible
list1 = ['One', 'Two', 'Three', 'Four']
list2 = [1,2,3]

In [34]:
# Get the first entry
list1[0]

'One'

In [35]:
# Get the last entry
list1[-1]

'Four'

In [36]:
# Get the second last entry
list1[-2]

'Three'

In [37]:
# Sublist
print('[1:3] ->', list1[1:3])
print('[1:] ', list1[1:])
print('[:2] ', list1[:2])

[1:3] -> ['Two', 'Three']
[1:]  ['Two', 'Three', 'Four']
[:2]  ['One', 'Two']

In [38]:
# More fancy sublists

# only every second entry, starting from beginning
print('[::2]',list1[::2])

# only every second entry, starting index 1
print('[1::2]',list1[1::2])

[::2] ['One', 'Three']
[1::2] ['Two', 'Four']

In [39]:
# Append an entry
list1.append('Five')
list1

['One', 'Two', 'Three', 'Four', 'Five']

In [40]:
# Append lists to each other
list1 + list2

['One', 'Two', 'Three', 'Four', 'Five', 1, 2, 3]

In [41]:
# Multiply lists
list2 * 2

[1, 2, 3, 1, 2, 3]

In [42]:
# Check for specific entry in list
'Two' in list1

True

In [43]:
# Remove specific entry
list1.remove('Three')
list1

['One', 'Two', 'Four', 'Five']

In [44]:
# Return the index of specific entry
list1.index('Two')

1

In [45]:
# Count occurrence of specific entry
list1.count('Four')

1

In [46]:
list2.sort(reverse=True)
list2

[3, 2, 1]

## Tuple
List of entries of different data type. They are immutable.

In [47]:
t = 4, 2
t

(4, 2)

In [48]:
type(t)

tuple

## Dictionaries
Dictionary are not indexed by numbers, but by so-called *keys*.

In [49]:
# Simple dictionary
d = {'one': 1, 'two': 2, 'three': 3}
d

{'one': 1, 'three': 3, 'two': 2}

In [50]:
# Get entry by name
d['one']

1

In [51]:
# Possible to store lists as well
d2 = {'ones': [1,1,1,1], 'increments': [0,1,2,3,4,5]}
d2['ones']

[1, 1, 1, 1]

In [52]:
# Get entry of list, stored within dictionary
d2['increments'][3]

3

In [53]:
# Change an entry
d2['increments'][3] = 42
d2

{'increments': [0, 1, 2, 42, 4, 5], 'ones': [1, 1, 1, 1]}

In [54]:
# Delete a key
del d2['ones']
d2

{'increments': [0, 1, 2, 42, 4, 5]}

In [55]:
# Useful to have the keys in list
list(d.keys())

['one', 'two', 'three']

## Loops

In [56]:
# Simple loop
for i in range(5):
    print(i)

0
1
2
3
4

In [57]:
# Loop 2 parameters at the same time
for i,j in zip(range(5), range(5)):
    print(i,j)

0 0
1 1
2 2
3 3
4 4

The zip function is often very useful. It is an iterator that aggregates elements from each of the iterables.

In [58]:
# Loop 2 parameters at the same time
a = [[1,10],[2,20],[3,30]]
for a1,a2 in a:
    print(a1,a2)

1 10
2 20
3 30

In [59]:
particles = {'leptons': ['electron', 'muon', 'tau'], 'hadron': ['proton', 'neutron', 'pion']}
for family, species in particles.items():
    print(family, ':')
    for s in range(len(species)):
        print(species[s])
    print('')

leptons :
electron
muon
tau

hadron :
proton
neutron
pion

In [60]:
for i, v in enumerate(['one', 'two', 'three']):
    print(i, v)

0 one
1 two
2 three

In [61]:
from itertools import product

# Combine two for-loops in one
for x,y in product([1,2],['a','b','c','d']):
    print(x,y)

1 a
1 b
1 c
1 d
2 a
2 b
2 c
2 d

In [62]:
# while loops
i = 0
while i<3:
    print(i)
    i += 1 # short form of i = i + 1

0
1
2

## Conditions

In [63]:
# if / elif / else conditions
# elif means 'else if'

n = 42

if n == 0:
    print('Zero')
elif n == 10:
    print('Ten')
elif n < 22:
    print('Larger')
else:
    print('Something else')

Something else

## Further useful functions

In [4]:
# This functions gives you a list of elements without duplicates
s = set(['Apple', 'Berry', 'Peach', 'Peach', 'Berry', 'Peach'])
s

{'Apple', 'Berry', 'Peach'}

In [65]:
# A set is a new type
type(s)

set

In [66]:
# This means, if you e.g. want to access it, you have to cast it e.g. in a list   
list(s)[1]

'Apple'

In [67]:
# Find out the length of an object
print(len([1,1,2,3,5,8,13,21]))
print(len('Student'))

8
7